/*
  CSS by Scilenci (#79146).
  Lioden Logo by Katie (#106445).
Borrowed a lot of info from Miko (#116939).
Background image "The Great Day of His Wrath" by John Martin.
*/

body {background: url("https://upload.wikimedia.org/wikipedia/commons/5/50/John_Martin_-_The_Great_Day_of_His_Wrath_-_Google_Art_Project.jpg");background-repeat: repeat-y;  background-position: center;background-attachment: fixed;background-size: 100%;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: Times !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* Buttons */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(170, 183, 174, 0.3);
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
}
 
 
/* Links */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
}
 
/* Topbar */
 
.topbar {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.badge {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
}
 
/* Navigational Bar */
 
.main {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
box-shadow: none;
}
 
.navbar {
background: rgba(170, 183, 174, 0.3);
border-bottom: 1px solid #000;
color: #000;
}
 
.navbar-default .navbar-nav > li > a {
color: #000;
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #eae9ee;
border-left: 1px solid #000;
border-right: 1px solid #000;
} 
 
 
 
/* Sidebar */
 
.sidebar {
background: rgba(170, 183, 174, 0.3);
border: 0px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
color: #000;
}
 
.col-md-3 .panel {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
box-shadow: none;    
}
 
.progress-bar {
background: #BEE9F9;
}
 
.progress {
background: #f7f7f7;
border: 1px solid #000;
}
 
 
/* Chat */
 
.chat_light, .chat_dark {
background: rgba(170, 183, 174, 0.3);
font-size: 11px;
color: #000;
}

.chatContainer {
border: 1px solid #000;
}
 
.userstolen {
background: none;
}

.alert-danger {
color: #000;
background: rgba(65, 176, 111, 0.3);
border: 1px solid #000;
}

.alert-success {
color: #000;
background: rgba(176, 98, 65, 0.3);
border: 1px solid #000;
}

.breadcrumb {
background:  rgba(170, 183, 174, 0.3);
font-size: 13px;
border: 1px solid #000;
}
 
.breadcrumb>.active {
color: #000;
}

.breadcrumb::after {
    content: ". * · ˚. φ ✧ <3 . °";
    color: #000000;
    position: absolute;
    right: 13%;
    z-index: 100;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
}
 
.col-md-9 {
background: none;
border: 0px solid #000;
}
 
/* Tables */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
opacity: 0.5;
}

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://puu.sh/COuew/116fdb5676.png');
}
 
.table, .item {
border: 1px solid #000;
background: rgba(170, 183, 174, 0.3);
border-collapse: separate;
}

.table .right, .table .right_odd {
background: 0;
border: 0px solid #000;
}

div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: rgba(0, 0, 0, 0);
color: #000;
}

.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #d8d8d8;
color: #000;
}

.table .left {
border: 1px solid #000;
background: rgba(170, 183, 174, 0.3);
color: #000;
}

.inner-table .right {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
border-left: none;
}

.credit {
	background: rgba(170, 183, 174, 0.3);
	border: 1px solid #000;
  border-left: none;
}

/* stupid scroll bar */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background: #ffffff;
}
::-webkit-scrollbar-thumb {
	background: rgba(46, 58, 230, 1);
	border-radius: 4px;
}

/* all images */

/* preggy ladies girls by peep */
div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/a/AVvXsEgZWCItsGcbjctu_XOGciJuZufzXAxfL-6gV-nDtURWVIVFIJjntdWGJ2rhbPw97Jq6qeCgZppJtOKLL0emrQqm1NDPYi6bGO8A5EaEs_0-rFinVZnBUPlZInR5gsmg1NbZf1pYSpxca6KEQ2h9w7FljNcJyPTTQIigw8BJEognPMxD_lVIxe9eIj-3Kg')!important;
	opacity: 0.5;
}
/*caves 1 is elsweyr = angeldust, 2 is skyrim = white wine*/
a[href$="217730"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/a/AVvXsEhhPaD481GFAHR_8PwrUmf3-4icys6xFrd8SytSKAVCVmOCX6t6IKFZ5DgqrYuBkkKZ4BAqd1JuWnv3TZwK5NNMlplhx8k5Rivk4wcbASj7KdnLVe5EuyKK_t4LnWb2OZoCBALBMFiLCoutx_RohzzmYfeJydGErC5H3XPJ5y65j-ubg0ox45WFtD0DNA')!important;
	opacity: 0.5;
}
a[href$="220854"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/a/AVvXsEjT0lwafPTUze_DU7BvDE6IZ5OFJJcC_YqhXXI2qhEKF6IaYrVHS-lcuh1ZuTjMs5uq-nMcFSB0qalOeRD1v5MRzhCVdTvRDAs8ncXhN_4_cPpyCG9RPS32eyqQEOSgxS6MFENWa3pIn1IMQUELndzgFr9BxnzMsrNnK7M2jXSGOhGq1ltwdSEAaKmy4Q')!important;
	opacity: 0.5;
}

/* unsorted beamer boy*/
a[href$="unsorted.php?id=210424"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/a/AVvXsEhe2g8TgzsqavevxtUqQYuavdqQzikduOfaOp0-mOnzNcNdLvKKb5CYfFqS_7mZpblEpaN92oYTmb3TvWoa0N7Eh1004isLZAYFSKEuvH651FekllddUlrjKcg4wxnUZ5c4xOC9FdZ22EdOa6NE6zfp0Bn2Lva_v-qka_LoL6lVC_4c082rSCKlTRSGPw')!important;
}
/* lion overview kiss*/
a[href$="lionoverview.php?id=210424"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/a/AVvXsEgAu6XJoA8drXczd0L5b8DUU1C0AsZMvifv9MfiBVyrlEH5GnaXiPzfakEocbBqAdIenYsPnwGoPVrRotfFWmLe5ztrrC22VzCSkj5YWuzrSsVl8bs9qpz6bV2Emig4_vuKrTm_28Bm3PyNpSMfrQ2EnKJfquDCLAUfrgzN5w9cTEHT0fTpaG-8Fj728A')!important;
	opacity: 0.5;
}
/* beetle dump kisses in the wind */
.mound-grid img {
	background: url('https://blogger.googleusercontent.com/img/a/AVvXsEiIDTpDBD7KjBpI1NYk8Zkh3COBgHS0rrHB1U86PjxcNU0jBStBeLgOWVqN7jh0LuFZyoU7f3rtLCYoc_Eo8H79A-rCf2psGZi2-7KBJ2_YUpBuacS_Et0LT9jwK9TXRkEAa0AcuLrZ9NaHhlUwcxk_uo5TR6XcMXFQfrrlfu43YJNEF5ZGsZh2jt4trw');
	opacity: 0.5;
	padding-top: 1px; /* ????idk era 80 e 130 */
	padding-right: 1px;
}

/*Boxes*/
.boxcontainer {height: 400px;background: none !important;padding: 19px}
.scrollyleft {overflow: auto;float:left;height: 350px; width: 400px;background: rgba(255,255,255,0.3);border-radius: 10px;border: 1px solid black;color: black;padding 5px;margin: auto; margin-bottom: 10px;}
.scrollyright {overflow: auto;float:right;height: 170px;width: 350px;background: rgba(255,255,255,0.3);border-radius: 10px;border: 1px solid black;color: black;padding 5px;margin: auto; margin-bottom: 10px;}
.scrollyleft::-webkit-scrollbar {width: 12px;}
.scrollyleft::-webkit-scrollbar-track {background: #7fa4b2;box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;}
.scrollyleft::-webkit-scrollbar-thumb {border-radius: 10px;background: #c6dbe7;box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
.scrollyright::-webkit-scrollbar {width: 12px;}
.scrollyright::-webkit-scrollbar-track {background: #7fa4b2;box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;}
.scrollyright::-webkit-scrollbar-thumb {border-radius: 10px;background: #c6dbe7;box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-3/cur246.ani), url(https://cur.cursors-4u.net/cursors/cur-3/cur246.png), auto !important;} /* End https://www.cursors-4u.com */
