/*
  CSS by Scilenci (#79146).
  Lioden Logo by Katie (#106445).
Background image "The Great Day of His Wrath" by John Martin.
*/

body {background: url("https://upload.wikimedia.org/wikipedia/commons/5/50/John_Martin_-_The_Great_Day_of_His_Wrath_-_Google_Art_Project.jpg");background-repeat: repeat-y;  background-position: center;background-attachment: fixed;background-size: 100%;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: Arial !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* Buttons */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(170, 183, 174, 0.3);
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
}
 
 
/* Links */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
}
 
/* Topbar */
 
.topbar {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.badge {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
}
 
/* Navigational Bar */
 
.main {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
box-shadow: none;
}
 
.navbar {
background: rgba(170, 183, 174, 0.3);
border-bottom: 1px solid #000;
color: #000;
}
 
.navbar-default .navbar-nav > li > a {
color: #000;
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #eae9ee;
border-left: 1px solid #000;
border-right: 1px solid #000;
} 
 
 
 
/* Sidebar */
 
.sidebar {
background: rgba(170, 183, 174, 0.3);
border: 0px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
color: #000;
}
 
.col-md-3 .panel {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
box-shadow: none;    
}
 
.progress-bar {
background: #BEE9F9;
}
 
.progress {
background: #f7f7f7;
border: 1px solid #000;
}
 
 
/* Chat */
 
.chat_light, .chat_dark {
background: rgba(170, 183, 174, 0.3);
font-size: 11px;
color: #000;
}

.chatContainer {
border: 1px solid #000;
}
 
.userstolen {
background: none;
}

.alert-danger {
color: #000;
background: rgba(65, 176, 111, 0.3);
border: 1px solid #000;
}

.alert-success {
color: #000;
background: rgba(176, 98, 65, 0.3);
border: 1px solid #000;
}

.breadcrumb {
background:  rgba(170, 183, 174, 0.3);
font-size: 13px;
border: 1px solid #000;
}
 
.breadcrumb>.active {
color: #000;
}

.breadcrumb::after {
    content: ". * · ˚. φ ✧ <3 . °";
    color: #000000;
    position: absolute;
    right: 13%;
    z-index: 100;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
}
 
.col-md-9 {
background: none;
border: 0px solid #000;
}
 
/* Tables */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
opacity: 0.5;
}

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://puu.sh/COuew/116fdb5676.png');
}
 
.table, .item {
border: 1px solid #000;
background: rgba(170, 183, 174, 0.3);
border-collapse: separate;
}

.table .right, .table .right_odd {
background: 0;
border: 0px solid #000;
}

div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: rgba(0, 0, 0, 0);
color: #000;
}

.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #d8d8d8;
color: #000;
}

.table .left {
border: 1px solid #000;
background: rgba(170, 183, 174, 0.3);
color: #000;
}

.inner-table .right {
background: rgba(170, 183, 174, 0.3);
border: 1px solid #000;
border-left: none;
}

.credit {
	background: rgba(170, 183, 174, 0.3);
	border: 1px solid #000;
  border-left: none;
}

/* stupid scroll bar */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background: #ffffff;
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 1);
	border-radius: 4px;
}

/* all images */

/* preggy ladies girls by peep */
div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/a/AVvXsEgZWCItsGcbjctu_XOGciJuZufzXAxfL-6gV-nDtURWVIVFIJjntdWGJ2rhbPw97Jq6qeCgZppJtOKLL0emrQqm1NDPYi6bGO8A5EaEs_0-rFinVZnBUPlZInR5gsmg1NbZf1pYSpxca6KEQ2h9w7FljNcJyPTTQIigw8BJEognPMxD_lVIxe9eIj-3Kg')!important;
	opacity: 0.5;
}
/*caves 1 is elsweyr = angeldust, 2 is skyrim = white wine*/
a[href$="217730"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/a/AVvXsEhhPaD481GFAHR_8PwrUmf3-4icys6xFrd8SytSKAVCVmOCX6t6IKFZ5DgqrYuBkkKZ4BAqd1JuWnv3TZwK5NNMlplhx8k5Rivk4wcbASj7KdnLVe5EuyKK_t4LnWb2OZoCBALBMFiLCoutx_RohzzmYfeJydGErC5H3XPJ5y65j-ubg0ox45WFtD0DNA')!important;
	opacity: 0.5;
}
a[href$="220854"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/a/AVvXsEjT0lwafPTUze_DU7BvDE6IZ5OFJJcC_YqhXXI2qhEKF6IaYrVHS-lcuh1ZuTjMs5uq-nMcFSB0qalOeRD1v5MRzhCVdTvRDAs8ncXhN_4_cPpyCG9RPS32eyqQEOSgxS6MFENWa3pIn1IMQUELndzgFr9BxnzMsrNnK7M2jXSGOhGq1ltwdSEAaKmy4Q')!important;
	opacity: 0.5;
}

/* unsorted beamer boy*/
a[href$="unsorted.php?id=210424"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/a/AVvXsEhe2g8TgzsqavevxtUqQYuavdqQzikduOfaOp0-mOnzNcNdLvKKb5CYfFqS_7mZpblEpaN92oYTmb3TvWoa0N7Eh1004isLZAYFSKEuvH651FekllddUlrjKcg4wxnUZ5c4xOC9FdZ22EdOa6NE6zfp0Bn2Lva_v-qka_LoL6lVC_4c082rSCKlTRSGPw')!important;
}
/* lion overview giving girls cocaine*/
a[href$="lionoverview.php?id=210424"]>div.cave-grid>img {
	content: url('https://blogger.googleusercontent.com/img/a/AVvXsEgRu9uc1IRzI06YiacIO-WKRJTzc71JsWKIuv80LhwHucv0317QbiEuy1pSOQBtEmorKpqMqElI1beSz-aoJtQfBpf1t8GeyQCVLcOOLd5fgdrTOOU1keFRU12heXkwbDU8rWi9Ya74AqSa2vPZCwZmh-hfKmNi8sJTnrI9O09QF480_ANvdMw9dbpL5g')!important;
	opacity: 0.5;
}
/* beetle dump kiss */
.mound-grid img {
	background: url('https://2.bp.blogspot.com/-0uW-iXX_u5o/YFz7Tw3ko2I/AAAAAAAATlY/aaQAd7kAhLEY8pJ-AvSJmMXUNNpKvkqCACK4BGAYYCw/s1600/13.%2BLil%2BPeep%2B-%2BKiss.jpg');
	opacity: 0.5;
	padding-top: 80px; /* ????idk */
	padding-right: 130px;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-3/cur246.ani), url(https://cur.cursors-4u.net/cursors/cur-3/cur246.png), auto !important;} /* End https://www.cursors-4u.com */
